.Field {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  width: 100%;
}

.Label {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  color: var(--color-foreground);
  position: relative;
}

.Value[data-placeholder] {
  opacity: 0.6;
}

.Select {
  text-wrap: nowrap;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.75rem;
  width: 100%;
  height: 2.2rem;
  padding-left: 0.875rem;
  padding-right: 0.75rem;
  margin: 0;
  border: 1px solid var(--color-border);
  border-radius: var(--radius-md, 0.375rem);
  background-color: var(--color-muted);
  color: var(--color-foreground);
  font-family: inherit;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5rem;
  user-select: none;
  transition: background-color 0.2s, border-color 0.2s, color 0.2s;
  cursor: pointer;

  @media (hover: hover) {
    &:hover {
      background-color: rgb(from var(--color-muted-foreground) r g b / 0.06);
    }
  }
  &:active {
    background-color: rgb(from var(--color-muted-foreground) r g b / 0.10);
  }

  &:focus-visible {
    outline: none;
    box-shadow: none;
    border-color: var(--color-ring);
    outline: 2px solid var(--color-ring);
    outline-offset: -1px;
  }
}

.SelectIcon {
  display: flex;
}

.Positioner {
  outline: 0;
  z-index: 50;
  user-select: none;
}

.Popup {
  box-sizing: border-box;
  border-radius: var(--radius-md, 0.375rem);
  background-color: var(--color-popover);
  color: var(--color-popover-foreground);
  background-clip: padding-box;
  min-width: var(--anchor-width);
  max-width: var(--available-width);
  transform-origin: var(--transform-origin);
  max-height: 23rem;
  transition: opacity 0.1s, transform 0.1s;

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
    transform: scale(0.95);
  }

  &[data-side='none'] {
    transition: none;
    transform: none;
    opacity: 1;
    min-width: calc(var(--anchor-width) + 2rem);
  }

  @media (prefers-color-scheme: light) {
    outline: 1px solid var(--color-border);
    box-shadow:
      0 10px 15px -3px var(--color-border),
      0 4px 6px -4px var(--color-border);
  }

  @media (prefers-color-scheme: dark) {
    outline: 1px solid var(--color-border);
    outline-offset: -1px;
    box-shadow: none;
  }
}

.List {
  box-sizing: border-box;
  position: relative;
  padding-block: 0.5rem;
  overflow-y: auto;
  max-height: min(23rem, var(--available-height));
  scroll-padding-block: 0.5rem;
  outline: 0;

  &[data-empty] {
    padding: 0;
  }
}

.Arrow {
  display: flex;
  &[data-side='top'] {
    bottom: -8px;
    rotate: 180deg;
  }
  &[data-side='bottom'] {
    top: -8px;
    rotate: 0deg;
  }
  &[data-side='left'] {
    right: -13px;
    rotate: 90deg;
  }
  &[data-side='right'] {
    left: -13px;
    rotate: -90deg;
  }
}

.ArrowFill {
  fill: var(--color-popover);
}

.ArrowOuterStroke {
  fill: var(--color-border);
}

.ArrowInnerStroke {
  fill: var(--color-muted-foreground);
}

.Item {
  box-sizing: border-box;
  outline: 0;
  cursor: default;
  user-select: none;
  padding-block: 0.5rem;
  padding-left: 1rem;
  padding-right: 2rem;
  display: grid;
  gap: 0.5rem;
  align-items: center;
  grid-template-columns: 0.75rem 1fr;
  font-size: 1rem;
  line-height: 1rem;
  position: relative;

  &[data-highlighted] {
    z-index: 0;
    color: var(--color-primary-foreground);
  }
  &[data-highlighted]::before {
    content: '';
    z-index: -1;
    position: absolute;
    inset-block: 0;
    inset-inline: 0.5rem;
    border-radius: var(--radius-sm, 0.25rem);
    background-color: var(--color-primary);
  }
}

.ItemIndicator {
  grid-column-start: 1;
}

.ItemIndicatorIcon {
  display: block;
  width: 0.75rem;
  height: 0.75rem;
}

.ItemText {
  grid-column-start: 2;
}

.ScrollArrow {
  width: 100%;
  background: var(--color-popover);
  z-index: 1;
  text-align: center;
  cursor: default;
  border-radius: 0.375rem;
  height: 1rem;
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
  }
  &[data-direction='up'] {
    &[data-side='none'] {
      &::before {
        top: -100%;
      }
    }
  }
  &[data-direction='down'] {
    bottom: 0;
    &[data-side='none'] {
      &::before {
        bottom: -100%;
      }
    }
  }
}
